.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: medium;
  color: #2b8ec7;
}

.App-link {
  color: #61dafb;
}

h1 {
  color: #ff4366;
}

.horizontal {
  float: left;
}

.smalltext {
  font-size: small;
}

.bigtext {
  font-size: x-large;
}

.arithmetics {
  text-align: center;
  font-size: large;
  color: #2b8ec7;
  padding-top: 1px;
  padding-bottom: 1px;
  display: table-cell;
  vertical-align: middle;
}

.icons {
  height: 10vmin;
}

.imageButton img:hover {
  height: 13vmin;
}

.imageButton {
  padding: 0;
  border: none;
  background: none; 
}

.imageButton p {
  color: #2b8ec7;
  font-size: medium;
}

.eatme {
  color: #ff4366;
}

hr {
  background-color: #2b8ec7;
  width: 80%;
  height: 1px;
  border-width: 0px;
}
